.ars-input-group {
    display: flex;
    flex-direction: column;
    gap: var(--ars-spacing-xs);
    width: 100%;
}

.ars-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.ars-input-label {
    font-size: var(--ars-font-size-sm);
    font-weight: 500;
    color: var(--ars-color-text-main);
}

.ars-input {
    width: 100%;
    height: 36px;
    padding: 0 var(--ars-spacing-sm);
    font-family: inherit;
    font-size: var(--ars-font-size-md);
    color: var(--ars-color-text-main);
    background-color: var(--ars-color-bg-main);
    border: 1px solid var(--ars-color-border);
    border-radius: var(--ars-radius-md);
    transition: all var(--ars-anim-fast);
    outline: none;
}

.ars-input:focus {
    border-color: var(--ars-color-primary);
    box-shadow: 0 0 0 1px var(--ars-color-primary);
}

.ars-input:disabled {
    background-color: var(--ars-color-bg-secondary);
    cursor: not-allowed;
    opacity: 0.7;
}

.ars-input--has-icon {
    padding-left: 32px;
}

.ars-input-icon {
    position: absolute;
    left: 8px;
    color: var(--ars-color-text-secondary);
    display: flex;
    pointer-events: none;
}

.ars-input--error {
    border-color: var(--ars-color-error);
}

.ars-input--error:focus {
    box-shadow: 0 0 0 1px var(--ars-color-error);
}

.ars-input--has-suffix {
    padding-right: 48px;
}

.ars-input-suffix {
    position: absolute;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.ars-input-error {
    font-size: var(--ars-font-size-xs);
    color: var(--ars-color-error);
}